:root {
    --nav-background-color: darkblue;
    --nav-text-color: white;
    --heading-color: darkblue;
    --img-border-color: black;
    --img-shadow-color: gray;
    --footer-border-color: #0003;
    --py-primary-color: #900;
    --py-background-color: #dedede;
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}

nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--img-shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: solid 3px var(--py-primary-color);
    padding: 1rem;
    background-color: var(--py-background-color);
    color: var(--py-primary-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 40px;
    border-top: solid 2px var(--footer-border-color);
    padding-top: 15px;
    text-align: center;
}